<h1>Hello, world!</h1>

<% a_number = rand(3) %>

<% if a_number == 0 %>
  <h2>They played rock</h2>
<% elsif a_number == 1 %>
  <h2> They played paper!</h2>
  
  <% elsif a_number == 3%>
  <h2> They played scossors!</h2>
<% end %>
