<h1>Hello, world!</h1>

<% a_number = rand(100) %>

<% if a_number < 50 %>
  <p>Your small lucky number for the day is <%= a_number %>!</p>
<% else %>
  <p>Your big lucky number for the day is <%= a_number %>!</p>
<% end %>